{% extends "base.html" %} {% block title %}Profile: {{ current_user.username | e
}}{% endblock %} {% block content%}
<main class="col-10 container height-main">
  <section class="mt-5 user-info">
    <h1 class="mb-3 follow-title text-center">User Information</h1>
    <ul class="list-group">
      <li class="list-group-item list-group-item-light">
        Username: <strong>{{ current_user.username | e }}</strong>
      </li>
      <li class="list-group-item list-group-item-light">
        Email: <strong>{{ current_user.email | e }}</strong>
      </li>
      <li class="list-group-item list-group-item-light">
        User type:
        <strong
          >{% if current_user.is_creator %}Creator{% else %}Listener{% endif
          %}</strong
        >
      </li>
    </ul>
    <a
      href="{{ url_for('logout') }}"
      class="btn btn-danger mt-3 mb-3 logout-btn"
      title="log out"
      >Log out</a
    >
  </section>
  <section>
    <h1 class="mt-3 mb-3 follow-title text-center">Your Following</h1>
    <div class="list-group">
      {% for follow in follows %}
      <a
        href="{{ url_for('series', series_id=follow.series_id) }}"
        class="list-group-item list-group-item-action list-group-item-info"
        title="series {{ get_series_by_id(follow.series_id).title }} page"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">
            {{ get_series_by_id(follow.series_id).title | e }}
          </h5>
          <small>{{ get_series_by_id(follow.series_id).date | e }}</small>
        </div>
        <p class="mb-1">
          {{ get_series_by_id(follow.series_id).text[:150]+'...' | e }}
        </p>
        <small
          >{{ get_creator(get_series_by_id(follow.series_id).creator_id) | e
          }}</small
        >
      </a>
      {% endfor %}
    </div>
  </section>
</main>
{% endblock%}
