{% extends "base.html" %} {% block title %}{{ series.title }}{% endblock %} {%
block content%}
<section class="modal" tabindex="-1" id="modal-form">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Podcast</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          id="podcast-form"
          action="{{ url_for('new_podcast', series_id=series.id) }}"
          method="POST"
          class="mx-auto"
          enctype="multipart/form-data"
        >
          <div class="mb-3">
            <label for="title">Title</label>
            <input
              type="text"
              class="form-control"
              name="title"
              aria-describedby="series title"
              placeholder="Title"
              required
              minlength="3"
              maxlength="30"
            />
          </div>
          <div class="mb-3">
            <label for="date">Creation Date</label>
            <input
              type="date"
              class="form-control"
              name="date"
              aria-describedby="series title"
            />
          </div>
          <div class="mb-3">
            <label for="audio">Audio File</label>
            <input
              type="file"
              class="form-control"
              name="audio"
              aria-describedby="podcast audio"
              accept="audio/mp3"
              required
            />
          </div>
          <div class="mb-3">
            <label for="description">Description</label>
            <textarea
              class="form-control"
              name="description"
              rows="3"
              required
              minlength="30"
              maxlength="150"
            ></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          form="podcast-form"
          value="update"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</section>
<section class="modal" tabindex="-1" id="modal-series">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Series Info</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          id="series-form"
          action="{{ url_for('edit_series', series_id=series.id) }}"
          method="POST"
          class="mx-auto"
          enctype="multipart/form-data"
        >
          <div class="mb-3">
            <label for="title">Title</label>
            <input
              type="text"
              class="form-control"
              name="title"
              aria-describedby="series title"
              placeholder="{{ series.title }}"
              minlength="3"
              maxlength="30"
            />
          </div>
          <div class="mb-3">
            <label for="category">Category</label>
            <input
              type="text"
              class="form-control"
              name="category"
              aria-describedby="series category"
              placeholder="{{ series.category }}"
              minlength="3"
              maxlength="20"
            />
          </div>
          <div class="mb-3">
            <label for="date">Creation Date</label>
            <input
              type="date"
              class="form-control"
              name="date"
              aria-describedby="series title"
              value="{{ series.date }}"
            />
          </div>
          <div class="mb-3">
            <label for="image">Series Image</label>
            <input
              type="file"
              class="form-control"
              name="image"
              aria-describedby="series image"
              accept="image/jpeg, image/jpg"
            />
          </div>
          <div class="mb-3">
            <label for="text">Description</label>
            <textarea
              class="form-control"
              name="text"
              rows="3"
              minlength="100"
              maxlength="400"
              placeholder="{{ series.text }}"
            ></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          form="series-form"
          value="update"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</section>
<main class="col-12 container height-main">
  <div class="card text-bg-dark mt-5">
    <img
      src="{{ url_for('static', filename='images/'+series.title.lower().replace(' ', '_')+'.jpeg') }}"
      class="card-img series-img-bg"
      alt="series image"
    />
    <article class="card-img-overlay">
      <section class="d-flex justify-content-between align-items-center">
        <h5 class="card-title series-title">{{ series.title }}</h5>
        <h6 class="card-text me-4">
          {{ get_creator_name(series.creator_id) }}, {{ series.date }}
        </h6>
      </section>
      <section>
        <h6 class="card-subtitle text-muted series-subtitle">
          {{ series.category }}
        </h6>
        <p class="card-text series-text mt-3">{{ series.text }}</p>
        {% if current_user.is_authenticated %} {% if
        is_following(current_user.id, series.id) %}
        <a
          href="{{ url_for('unfollow', series_id=series.id) }}"
          class="btn btn-dark"
          >Unfollow</a
        >
        {% else %}
        <a
          href="{{ url_for('follow', series_id=series.id) }}"
          class="btn btn-outline-light"
          >Follow</a
        >
        {% endif %} {% if current_user.id == series.creator_id %}
        <a
          href="#"
          class="btn btn-outline-light"
          data-bs-toggle="modal"
          data-bs-target="#modal-series"
          >Edit</a
        >
        <a
          href="{{ url_for('delete_series', series_id=series.id) }}"
          class="btn btn-outline-danger"
          >Delete</a
        >
        {% endif %} {% endif %}
      </section>
    </article>
  </div>
  {% if podcasts | length != 0 %}
  <nav class="navbar search-nav my-2 mx-auto">
    <div class="container-fluid">
      <input
        class="form-control search-tab"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
    </div>
  </nav>
  {% endif %}
  <article class="list-group">
    {% if podcasts | length == 0 %}
    <section class="list-group-item list-group-item-light">
      <p class="mb-1">There are not any podcast yet!</p>
    </section>
    {% endif %} {% for podcast in podcasts %}
    <section
      class="list-group-item list-group-item-action list-group-item-light"
      data-podcast
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1" data-podcast-title>{{ podcast.title }}</h5>
        <small>{{ podcast.date }}</small>
      </div>
      <p class="mb-1" data-podcast-description>{{ podcast.description }}</p>
      {% if current_user.is_authenticated %}
      <div class="mb-3 d-flex justify-content-between align-items-center">
        <audio controls>
          <source
            src="{{ url_for('static', filename='audio/'+str(podcast.series_id)+'/'+podcast.title.lower().replace(' ', '_')+'.mp3') }}"
            type="audio/mpeg"
          />
        </audio>
        {% if current_user.id == series.creator_id %}
        <div>
          <a
            href="{{ url_for('edit_podcast', podcast_id=podcast.id) }}"
            class="btn btn-outline-secondary"
            data-bs-toggle="modal"
            data-bs-target="#modal-edit-form-{{ podcast.id }}"
            >Edit</a
          >
          <a
            href="{{ url_for('delete_podcast', podcast_id=podcast.id) }}"
            class="btn btn-outline-secondary"
            >X</a
          >
        </div>
        {% endif %}
      </div>
      {% endif %}
      <a
        href="#"
        class=""
        data-bs-toggle="modal"
        data-bs-target="#modal-comments-{{ podcast.id }}"
      >
        Comments
      </a>
    </section>
    <section class="modal" tabindex="-1" id="modal-edit-form-{{ podcast.id }}">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Podcast</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form
              id="podcast-edit-form"
              action="{{ url_for('edit_podcast', podcast_id=podcast.id) }}"
              method="POST"
              class="mx-auto"
              enctype="multipart/form-data"
            >
              <div class="mb-3">
                <label for="title">Title</label>
                <input
                  type="text"
                  class="form-control"
                  name="title"
                  aria-describedby="podcast title"
                  placeholder="{{ podcast.title }}"
                  minlength="3"
                  maxlength="30"
                />
              </div>
              <div class="mb-3">
                <label for="date">Creation Date</label>
                <input
                  type="date"
                  class="form-control"
                  name="date"
                  aria-describedby="podcast date"
                  value="{{ podcast.date }}"
                />
              </div>
              <div class="mb-3">
                <label for="audio">Audio File</label>
                <input
                  type="file"
                  class="form-control"
                  name="audio"
                  aria-describedby="podcast audio"
                  accept="audio/mp3"
                />
              </div>
              <div class="mb-3">
                <label for="description">Description</label>
                <textarea
                  class="form-control"
                  name="description"
                  rows="3"
                  minlength="30"
                  maxlength="150"
                  placeholder="{{ podcast.description }}"
                ></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              form="podcast-edit-form"
              value="update"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </section>
    <section class="modal" tabindex="-1" id="modal-comments-{{ podcast.id }}">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Comments</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            {% if (comments(podcast.id) | length) == 0 %}
            <small>Be the first one to comment!</small>
            {% else %}
            <div class="list-group">
              {% for comment in comments(podcast.id) %}
              <section class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                  <p class="mb-1">{{ get_creator_name(comment.user_id) }}</p>
                  <small>{{ comment.date }}</small>
                </div>
                <small>{{ comment.comment }}</small>
                {% if comment.user_id == current_user.id %}
                <a
                  href="{{ url_for('delete_comment', comment_id=comment.id) }}"
                  class="link-danger d-block"
                  >delete</a
                >
                {% endif %}
              </section>
              {% endfor %}
            </div>
            {% endif %}
            <form
              id="comments-form-{{ podcast.id }}"
              action="{{ url_for('new_comment', podcast_id=podcast.id) }}"
              method="POST"
              class="mx-auto"
            >
              <div class="mb-3 mt-5">
                <label for="comment">Leave your comment here</label>
                <input
                  type="text"
                  class="form-control"
                  name="comment"
                  aria-describedby="podcast comment"
                  required
                  minlength="3"
                  maxlength="300"
                  {%
                  if
                  not
                  current_user.is_authenticated
                  %}
                  disabled
                  placeholder="Log in to comment."
                  {%
                  endif
                  %}
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              form="comments-form-{{ podcast.id }}"
              value="update"
              {%
              if
              not
              current_user.is_authenticated
              %}
              disabled
              {%
              endif
              %}
            >
              Post comment
            </button>
          </div>
        </div>
      </div>
    </section>
    {% endfor %} {% if current_user.is_authenticated %} {% if current_user.id ==
    series.creator_id %}
    <a
      href="#"
      class="list-group-item list-group-item-action list-group-item-light new-podcast"
      data-bs-toggle="modal"
      data-bs-target="#modal-form"
    >
      +
    </a>
    {% endif %} {% endif %}
  </article>
</main>
{% endblock%}
